<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZlynk - Shorten Your Links | URL Shortener Tool</title>
    <meta name="description"
        content="EZlynk is a URL shortener tool that helps you shorten your links easily. Shorten URLs and customize them according to your needs.">
    <meta name="author" content="Aryan Mishra">
    <meta name="author" content="AryCodes">
    <meta name="keywords"
        content="EZlynk, URL shortener, link shortener, shorten links, custom URL, URL optimization , arycodes , AryCdes , aryan">

    <link rel="canonical" href="https://ezlynk.vercel.app.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header>
        EZlynk - Shorten Your Links
        <a href="https://github.com/arycodes/EZlynk" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"
                style="font-size: 25px;color: #fff;"></i></a>

    </header>
    <div class="container">
        <form action="/" method="post">
            <label for="url">Enter Your Link Here</label>
            <input type="text" name="url" id="url" placeholder="Enter your URL" required>
            <p class="msg error" id="errorurl">Please enter a valid URL</p>
            <br>
            <label for="urltype">Select The Type of link</label>
            <select name="urltype" id="urltype">
                <option value="random" selected>Random</option>
                <option value="custom">Custom</option>
            </select>
            <label for="customurl" class="customurloption hide">Customize Your Short URL</label>
            <input type="text" class="customurloption hide" id="editableInput" value="ezlynk.vercel.app/"
                name="editableInput">
            <span id="availability"></span><br>
            <input type="submit" value="Shorten" id="shortenbutton">
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>